<ion-header>
    <ion-navbar>
        <ion-title>Encontrar Evento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-segment [(ngModel)]="tab">
            <ion-segment-button value="Coming Soon">
                Em Breve
            </ion-segment-button>
            <ion-segment-button value="All Upcoming">
                Futuramente
            </ion-segment-button>
            <ion-segment-button value="Past">
                Passados
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="tab">
        <ion-list *ngSwitchCase="'Coming Soon'">
            <ion-item *ngFor="let event of comingSoonEvents" (click)="openEvent(event)">
                <ion-thumbnail item-start>
                    <img *ngIf="event.imgEvent" [src]="event.imgEvent">
                    <img *ngIf="!event.imgEvent" src="assets/img/church1.png">
                </ion-thumbnail>
                <h1>{{event.name}}</h1>
                <ion-icon name="calendar"></ion-icon>
                {{event.event_date | dateFormat: 'MMM D, YYYY'}}<br/>
                <ion-icon name="pin"></ion-icon>
                {{event.street}} - {{event.number}}, {{event.city}}
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'All Upcoming'">
            <ion-item *ngFor="let event of allUpcomingEvents" (click)="openEvent(event)">
                <ion-thumbnail item-start>
                    <img *ngIf="event.imgEvent" [src]="event.imgEvent">
                    <img *ngIf="!event.imgEvent" src="assets/img/church1.png">
                </ion-thumbnail>
                <h1>{{event.name}}</h1>
                <ion-icon name="calendar"></ion-icon>
                {{event.event_date | dateFormat: 'MMM D, YYYY'}}<br/>
                <ion-icon name="pin"></ion-icon>
                {{event.street}} - {{event.number}}, {{event.city}}
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'Past'">
            <ion-item *ngFor="let event of pastEvents" (click)="openEvent(event)">
                <ion-thumbnail item-start>
                    <img *ngIf="event.imgEvent" [src]="event.imgEvent">
                    <img *ngIf="!event.imgEvent" src="assets/img/church1.png">
                </ion-thumbnail>
                <h1>{{event.name}}</h1>
                <ion-icon name="calendar"></ion-icon>
                {{event.endEventDate | dateFormat: 'MMM D, YYYY'}}<br/>
                <ion-icon name="pin"></ion-icon>
                {{event.street}} - {{event.number}}, {{event.city}}
            </ion-item>
        </ion-list>
    </div>
</ion-content>
