<ion-header>
    <ion-navbar>
        <ion-title text-center>
            <img src="assets/img/logo-marca-escuro.png" class="header-logo">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form (submit)="doLogin()">
        <ion-list>
            <ion-item padding-horizontal>
                <ion-label stacked>Organização</ion-label>
                <ion-select [(ngModel)]="account.church" name="church" cancelText="Cancelar">
                    <ion-option *ngFor="let church of churchs" [value]="church.id">{{church.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item padding-horizontal>
                <ion-label stacked>Usuário</ion-label>
                <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
            </ion-item>

            <ion-item padding-horizontal>
                <ion-label stacked>Senha</ion-label>
                <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
            </ion-item>

            <ion-grid padding>
                <ion-row>
                    <ion-col>
                        <button ion-button block (click)="signup()" type="button" round>Cadastrar</button>
                    </ion-col>
                    <ion-col>
                        <button ion-button block round>{{ 'LOGIN_BUTTON' | translate }}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <!--<ion-grid padding>-->
                <!--<ion-row>-->
                    <!--<ion-col>-->
                        <!--<button color="facebook" ion-button block round type="button" (click)="loginFacebook()">-->
                            <!--<ion-icon name="logo-facebook"></ion-icon>-->
                        <!--</button>-->
                    <!--</ion-col>-->
                    <!--<ion-col>-->
                        <!--<button color="google" ion-button block round type="button" (click)="loginGoogle()">-->
                            <!--<ion-icon name="logo-google"></ion-icon>-->
                        <!--</button>-->
                    <!--</ion-col>-->
                <!--</ion-row>-->
            <!--</ion-grid>-->
        </ion-list>

        <p ion-text text-center (click)="forgotPassword()">Não lembra sua senha? <a href="javascript:;">Recupere agora mesmo</a></p>

        <ion-grid padding *ngIf="has_qr_code">
            <ion-row>
                <ion-col>
                    <button ion-button block (click)="viewMyQRCode()" type="button" round>
                        <ion-icon name="barcode" class="margin-right"></ion-icon>
                        Ver Meu QR Code
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
