page-logar {
  .logo {
    margin: auto;
    background: url('../assets/img/logo-marca-escuro.png') no-repeat transparent;
    background-size: contain;
    width: 128px;
    height: 153px;
    margin-top: 10%;
    background-position: center;
  }

  .list-ios > .item-block:first-child {
    border-top: none;
  }
}
