<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title text-center>Meus Eventos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <h5 text-center *ngIf="events.length <= 0">Você ainda não possui eventos.<br/>Clique abaixo para encontrar o seu primeiro.</h5>

                <ion-list *ngIf="events.length > 0">
                    <ion-item *ngFor="let event of events" (click)="openEvent(event)">
                        <ion-thumbnail item-start>
                            <img *ngIf="event.imgEvent" [src]="event.imgEvent">
                            <img *ngIf="!event.imgEvent" src="assets/img/church1.png">
                        </ion-thumbnail>
                        <h1>{{event.name}}</h1>
                        <ion-icon name="calendar"></ion-icon>
                        {{event.eventDate | dateFormat: 'MMM D, YYYY'}}<br/>
                        <ion-icon name="pin"></ion-icon>
                        {{event.street}} - {{event.number}}, {{event.city}}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <button ion-button block (click)="findEvent()">
                    <ion-icon name="search"></ion-icon>
                    Encontrar meu Evento
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
